h1 {
    text-align: center;
}

.navigationsbar{
    display: flex;
    justify-content: flex-end;
}

.content {
    margin: 50px;
}

.navigationsbar .content a {
    padding: 10px 5px 10px 5px;
   background-color: rgba(186, 107, 39, 0.49);
    font-size: 1.3em;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: black;
}

.navigationsbar .content a:hover {
    text-decoration: underline;
}

html {
    background-color: rgba(211, 131, 62, 0.49)
}

.container {
    /*    flex-direction: column;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    flex-basis: auto;
    flex-direction: row;
    height: 300px;
    width: 600px;
    background: rgba(255, 255, 255, 0.74);
    margin: 20px;
    font-size: 150%;
}

.koebstand {
    flex-basis: auto;
    flex-direction: column;
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, 0.74);
    margin: 20px;
    font-size: 150%;
}

.koebstand:hover {
    background-color: orangered;
    color: white;
}

.ninja {
margin: 50px;
}
