h1 {
    text-align: center;
}

.navigationsbar{
    display: flex;
    justify-content: flex-end;
}

.content {
    margin: 50px;
}

.navigationsbar .content a {
    padding: 10px 5px 10px 5px;
    background-color: rgba(128, 0, 128, 0.28);
    font-size: 1.3em;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin: 2px;
}

.navigationsbar .content a:hover {
    text-decoration: underline;
}

html {
    background-color: rgba(128, 0, 128, 0.3);
}

.muligheder {
    /*    flex-direction: column;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.box {
    flex-basis: auto;
    flex-direction: row;
    height: 300px;
    width: 1000px;
    margin: 20px;
    font-size: 150%;
}

.saelg {
    height: 300px;
    width: 1000px;
}

p {
    font-size: 150%;

}
