h1 {
    text-align: center;
}

.navigationsbar{
    display: flex;
    justify-content: flex-end;
}

.content {
    margin: 50px;
}

.navigationsbar .content a {
    padding: 10px 5px 10px 5px;
   background-color: rgba(255, 156, 70, 0.55);
    font-size: 1.3em;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin: 2px;
}

.navigationsbar .content a:hover {
    text-decoration: underline;
}

html {
    background-color: rgba(253, 175, 108, 0.81)
}

.muligheder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.box {
    flex-basis: auto;
    flex-direction: row;
    height: 1000px;
    width: 1024px;
    margin: 20px;
    font-size: 150%;
}

.koebstand {
    flex-basis: auto;
    flex-direction: row;
    width: 512px;
    height: 100px;
    background-color: rgba(255, 156, 70, 0.55);
    margin: 20px;
    padding: 30px;
    font-size: 200%;
}

.koebstand p {
    padding-left: 150px;
}

.koebstand:hover {
    background-color: rgba(255, 156, 70, 0.55);
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}
